NODE_ENV=local
PORT=7007

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=veracity

POSTGRES_LOGGING=true

USER_JWT_SECRET=your-user-jwt-secret
USER_JWT_EXPIRES_IN=7d

ADMIN_JWT_SECRET=your-admin-jwt-secret
ADMIN_JWT_EXPIRES_IN=8h

OWNER_EMAIL=owner@owner.com
OWNER_PASSWORD=owner@owner.com
